extends layout

block vars
    //- - var bodyClass = 'front-page';
    //- - var n = 0;
    - var arr = files;
    - var dir = title;

block content
    h1= title 
        b
        a(href='/', class='nounderline') &#x21B6;
    p Welcome to #{title}
 
    //- section for file upload
    if(tag === 'photo')
        - var v_action =  '/upload/photo';
        - var v_name1 = 'imageupload';
        - var v_name2 = 'uploadimage';

    if(tag === 'video')
        - var v_action =  '/upload/video';
        - var v_name1 = 'videoupload';
        - var v_name2 = 'uploadvideo';

    if(tag === 'audio')
        - var v_action =  '/upload/audio';
        - var v_name1 = 'audioupload';
        - var v_name2 = 'uploadaudio';

    if(tag === 'doc')
        - var v_action =  '/upload/doc';
        - var v_name1 = 'docupload';
        - var v_name2 = 'uploaddoc';
    
    if(tag === 'other')
        - var v_action =  '/upload/other';
        - var v_name1 = 'otherupload';
        - var v_name2 = 'uploadother';

    //- form(enctype='multipart/form-data' , action=v_action, method='post')
    //-     .form-group
    //-         input.form-control(type='file', name=v_name1)
    //-         button(type='submit', name=v_name2)
    //-             i(class='fa fa-cloud-upload', style='color: #00B7FF;')    
    div(class='container')
        form(class='form-group', id='myform')
            input(type='file', name='fileupload', id='fileinput')
            div(class='input-group col-xs-12')
                input(type='text', class='form-control input-lg', disabled='', placeholder='Upload Content', id='file-name')
                span(class='input-group-btn')
                    button(class='btn btn-primary input-lg', type='button', id='browse-btn')
                        i(class='fa fa-folder-open')
                span(class='input-group-btn')
                    button(class='btn btn-success input-lg', type='button', id='upload-btn', onClick='RequestHandler.uploadFile(\''+v_action+'\', \'file-form\');')
                        i(class='fa fa-cloud-upload')
    
    //- section for file display
    if(tag === 'photo')
        each file in files   
            a(href='/'+dir+'/'+ file, target= '_blank')
                img.image(src='/'+dir+'/'+ file, width="400")
            br

    if(tag === 'video')
        each file in files   
            video(width="320", height="240", controls)
                source(src='/'+dir+'/'+ file, type="video/mp4")
            br

    if(tag === 'audio')
        each file in files   
            audio(preload="auto", autobuffer, controls)
                source(src='/'+dir+'/'+ file)
            br

    if(tag === 'doc')
        each file in files   
            a(href='/'+dir+'/'+ file, target= '_blank') #{file}
            br
    
    if(tag === 'other')
        each file in files   
            a(href='/'+dir+'/'+ file) #{file}
            br