extends layout

block vars
    //- - var bodyClass = 'front-page';
    //- - var n = 0;
    - var arr = files;
    - var dir = title;

block content
    div(id="toastSuccess") 
        div(class='btn-group' role='group')
            button(class='btn btn-toast-ignore' onClick='hideToast(\'toastSuccess\')') Ignore
            button(class='btn', id='positiveMessage') Action ---!
            button(class='btn btn-toast-refresh' onClick='refresh()') Refresh

    div(id="toastReject")
        div(class='btn-group' role='group')
            button(class='btn btn-danger', id='negativeMessage') Action xxx!
            button(class='btn btn-toast-ignore' onClick='hideToast(\'toastReject\')') Ok

    h1= title 
        b
        a(href='/', class='nounderline') &#x21B6;
    p Welcome to #{title}
 
    //- section for file upload
    if(tag === 'photo')
        - var v_action_upload =  '/upload/photo';
        - var v_accept =  'image/*';

    if(tag === 'video')
        - var v_action_upload =  '/upload/video';
        - var v_accept =  'video/*';

    if(tag === 'audio')
        - var v_action_upload =  '/upload/audio';
        - var v_accept =  'audio/*';

    if(tag === 'doc')
        - var v_action_upload =  '/upload/doc';
        - var v_accept =  '.pdf, .doc, docx, .txt, .json, .xml, .md, .css, .js';
    
    if(tag === 'other')
        - var v_action_upload =  '/upload/other';
        - var v_accept =  '*';
        //- - var v_accept =  '.iso, .zip, .apk, .dmg, .exe, .rar';

    //- form(enctype='multipart/form-data' , action=v_action_upload, method='post')
    //-     .form-group
    //-         input.form-control(type='file', name=v_name1)
    //-         button(type='submit', name=v_name2)
    //-             i(class='fa fa-cloud-upload', style='color: #00B7FF;')  

    div(class='container')
        form(class='form-group', id='fileForm')
            input(type='file', name='fileupload', id='fileInput', accept=v_accept)
            div(class='input-group col-xs-12')
                input(type='text', class='form-control input-lg', disabled='', placeholder='Upload Content', id='fileName')
                span(class='input-group-btn')
                    button(class='btn btn-primary input-lg', type='button', id='browseBtn')
                        i(class='fa fa-folder-open')
                span(class='input-group-btn')
                    button(class='btn btn-success input-lg', type='button', id='uploadBtn', onClick='RequestHandler.uploadFile(\''+v_action_upload+'\', \'fileForm\');')
                        i(class='fa fa-cloud-upload')
    
    //- section for file display
    div(id='content')
        if(tag === 'photo')
            if userCanDelete
                each file in files
                    div(class='img-wrap', id=file)
                        a(href='/'+dir+'/'+ file, target= '_blank')
                            span(class='view-image', title='View Image') &loz;                       
                        span(class='delete-image', title='Delete Image') &times;
                        img.image(src='/'+dir+'/'+ file, width="320", style="margin-left:10px; margin-top:10px", data-id='/'+dir+'/'+ file)
            else
                each file in files   
                    div(class='img-wrap', id=file)
                        a(href='/'+dir+'/'+ file, target= '_blank')
                            span(class='view-image', title='View Image') &loz; 
                        img.image(src='/'+dir+'/'+ file, width="320", style="margin-left:10px; margin-top:10px")

        if(tag === 'video')
            each file in files   
                video(width="320", height="240", controls, style="margin-left:10px")
                    source(src='/'+dir+'/'+ file, type="video/mp4")

        if(tag === 'audio')
            each file in files   
                audio(preload="auto", autobuffer, controls, loop, style="margin-left:20px")
                    source(src='/'+dir+'/'+ file)

        if(tag === 'doc')
            each file in files   
                a(href='/'+dir+'/'+ file, target= '_blank') #{file}
                br
        
        if(tag === 'other')
            each file in files   
                a(href='/'+dir+'/'+ file) #{file}
                br